.city {
  height: 100vh;
  width: 100%;
  background-image: url("./bg.jpg");
  background-position: bottom left;
  background-size: cover;
  position: relative;
  animation: moving 15s infinite linear;
}

@keyframes moving {
  0% {
    background-position: bottom left;
  }
  100% {
    background-position: bottom right;
  }
}

img {
  height: 100px;
  position: absolute;
  bottom: 50px;
  transform: translateX(400px);
}

.jump {
  animation: jump 0.5s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 100px;
  }
  100 % {
    bottom: 50px;
  }
}

.wheely {
  transform: translateX(400px) rotate(-55deg)
}
